In [39]:
from data_collection import (store_database_for_eys_gene,
                             parse_lovd,
                             LOVD_PATH,
                             set_lovd_dtypes)

ImportError: cannot import name 'merging_lo_clin' from 'data_collection' (C:\Users\Kajus\PycharmProjects\kath\data_collection\__init__.py)

In [38]:
store_database_for_eys_gene("lovd", override=False)

The file at ../data/lovd/lovd_data.txt already exists.

In [16]:
data = parse_lovd(LOVD_PATH + "/lovd_data.txt")
for i in data:
    print(i)
    display(data[i])

Genes

,id,name,chromosome,chrom_band,imprinting,refseq_genomic,refseq_UD,reference,url_homepage,url_external,...,header,header_align,footer,footer_align,created_by,created_date,edited_by,edited_date,updated_by,updated_date
0,EYS,eyes shut homolog (Drosophila),6,q12,unknown,NG_023443.2,UD_132085377375,,http://www.LOVD.nl/EYS,,...,"<font color=\""#FF0000\"">This database is one o...",-1,,-1,00001,2012-02-13 00:00:00,00006,2023-08-30 13:08:19,00000,2024-04-19 20:27:30

Transcripts

,id,geneid,name,id_mutalyzer,id_ncbi,id_ensembl,id_protein_ncbi,id_protein_ensembl,id_protein_uniprot,remarks,position_c_mrna_start,position_c_mrna_end,position_c_cds_end,position_g_mrna_start,position_g_mrna_end,created_by,created_date,edited_by,edited_date
0,00007329,EYS,transcript variant 1,001,NM_001142800.1,,NP_001136272.1,,,,-538,10051,9435,66417118,64429876,,0000-00-00 00:00:00,,

Diseases

,id,symbol,name,inheritance,id_omim,tissues,features,remarks,created_by,created_date,edited_by,edited_date
0,00012,PSORS,"psoriasis, pustular, generalized (PSORS)",,,,,,00006,2012-07-06 21:50:32,00006,2019-08-12 13:38:21
1,00058,CORD,"dystrophy, cone-rod (CORD)",,,,,,00006,2012-09-22 11:31:25,00006,2020-08-30 09:43:59
2,00112,RP,retinitis pigmentosa (RP),,268000,,,,00001,2013-02-21 17:12:36,00006,2021-01-18 09:53:26
3,00139,ID,intellectual disability (ID),,,,,,00084,2013-06-04 18:18:07,00006,2015-02-09 10:02:49
4,00173,SLOS,Smith-Lemli-Opitz syndrome (SLOS),AR,270400,,,,00006,2013-08-01 11:16:14,00006,2021-12-10 21:51:32
5,00198,?,unclassified / mixed,,,,,,00006,2013-09-13 14:21:47,00006,2016-10-22 17:54:40
6,02156,-,"retinitis pigmentosa, X-linked, and sinorespir...",,300455,,,,00006,2014-09-25 23:29:40,00006,2021-12-10 21:51:32
7,02440,RP25,"retinitis pigmentosa, type 25 (RP25)",AR,602772,,,,00006,2014-09-25 23:29:40,00006,2021-12-10 21:51:32
8,04211,RPar,"retinitis pigmentosa, autosomal recessive (RPar)",,,,,,00006,2015-02-27 18:58:57,,
9,04214,-,retinal disease,,,,,,00006,2015-02-27 19:48:07,00001,2023-03-09 14:26:26
10,04249,macular dystrophy,"dystrophy, macular",,,,,,00006,2015-05-04 22:10:58,00006,2024-02-15 21:18:39
11,05086,HL,hearing loss (HL),,,,,,00006,2015-10-23 11:41:05,00006,2015-10-23 11:43:00
12,05415,USH,Usher syndrome (USH),,,,,,00006,2018-04-02 16:40:44,,
13,05468,uveitis,uveitis,,,,,,00006,2018-08-22 09:47:04,,
14,06906,DEE,"encephalopathy, developmental and epileptic",,,,,,00006,2022-04-07 09:24:23,,

Genes_To_Diseases

  geneid diseaseid
0    EYS     00112
1    EYS     02440

Individuals

,id,fatherid,motherid,panelid,panel_size,license,owned_by,Individual/Reference,Individual/Remarks,Individual/Gender,Individual/Consanguinity,Individual/Origin/Geographic,Individual/Age_of_death,Individual/VIP,Individual/Data_av,Individual/Treatment,Individual/Origin/Population,Individual/Individual_ID
0,00000135,,,,3,,00006,{PMID:Marrakchi 2011:21848462},"5-generation family, 3 affecteds (M)",M,yes,Tunisia,,,,,,
1,00000210,,,,1,,00039,{PMID:Abu-Safieh-2013:23105016},,,,(Saudi Arabia),,,,,,
2,00001962,,,,1,,00025,,,M,?,Germany,,,,,white,
3,00016605,,,,1,,00552,,,,,,,0,,,,
4,00033096,,,,1,,00229,{PMID:Neveling 2012:22334370},,M,no,,,0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,00447702,,,,1,,00006,{PMID:Weisschuh 2024:37734845},"patient, no family history",F,,Germany,,0,,,,SRP-1105
1446,00447707,,,,1,,00006,{PMID:Weisschuh 2024:37734845},"patient, no family history",M,,Germany,,0,,,,SRP-1167
1447,00447716,,,,1,,00006,{PMID:Weisschuh 2024:37734845},"patient, no family history",F,,Germany,,0,,,,SRP-1249
1448,00447718,,,,1,,00006,{PMID:Weisschuh 2024:37734845},"patient, no family history",M,,Germany,,0,,,,SRP-1274
1449,00447720,,,,1,,00006,{PMID:Weisschuh 2024:37734845},patient,M,,Germany,,0,,,,SRP-1299

Individuals_To_Diseases

     individualid diseaseid
0        00000135     00012
1        00000210     00058
2        00001962     00173
3        00033096     04214
4        00033109     04214
...           ...       ...
1444     00447702     00198
1445     00447707     00198
1446     00447716     00198
1447     00447718     00198
1448     00447720     00198

[1449 rows x 2 columns]

Phenotypes

,id,diseaseid,individualid,owned_by,Phenotype/Inheritance,Phenotype/Age,Phenotype/Additional,Phenotype/Biochem_param,Phenotype/Age/Onset,Phenotype/Age/Diagnosis,Phenotype/Severity_score,Phenotype/Onset,Phenotype/Protein,Phenotype/Tumor/MSI,Phenotype/Enzyme/CPK,Phenotype/Heart/Myocardium,Phenotype/Lung,Phenotype/Diagnosis/Definite,Phenotype/Diagnosis/Initial,Phenotype/Diagnosis/Criteria
0,0000000008,00012,00000135,00006,"Familial, autosomal recessive",,,,,,,,,,,,,,,
1,0000000026,00058,00000210,00039,"Familial, autosomal recessive",,,,,,,,,,,,,,,
2,0000000941,00173,00001962,00025,Familial,,2-3 toe syndactyly,,,,5,,,,,,,,,
3,0000026525,04214,00033096,00229,Unknown,,,,,,,,,,,,,,retinitis pigmentosa,
4,0000026538,04214,00033109,00229,Unknown,,,,,,,,,,,,,,retinitis pigmentosa,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1266,0000336901,00198,00447702,00006,Unknown,,,,,,,,,,,,,,"retinitis pigmentosa, simplex",
1267,0000336906,00198,00447707,00006,Unknown,,,,,,,,,,,,,,"retinitis pigmentosa, simplex",
1268,0000336915,00198,00447716,00006,Unknown,,,,,,,,,,,,,,"retinitis pigmentosa, simplex",
1269,0000336917,00198,00447718,00006,Unknown,,,,,,,,,,,,,,"retinitis pigmentosa, simplex",
1270,0000336919,00198,00447720,00006,Unknown,,,,,,,,,,,,,,"retinitis pigmentosa, simplex",

Screenings

,id,individualid,variants_found,owned_by,created_by,created_date,edited_by,edited_date,Screening/Technique,Screening/Template,Screening/Tissue,Screening/Remarks
0,0000000126,00000135,1,00006,00006,2012-07-07 19:04:19,00006,2012-07-07 19:12:08,RT-PCR;SEQ,DNA;RNA,,
1,0000000211,00000210,1,00039,00006,2012-09-22 11:36:24,,,SEQ,DNA,,
2,0000001640,00001962,1,00025,00006,2010-03-11 16:36:41,00025,2012-04-13 15:18:00,SEQ,DNA,,
3,0000016557,00016605,1,00552,00552,2014-05-23 13:12:43,,,SEQ-NG-I,DNA,,
4,0000033164,00033096,1,00229,00229,2012-02-04 15:20:01,00006,2012-05-18 13:59:33,SEQ;SEQ-NG-S,DNA,,
...,...,...,...,...,...,...,...,...,...,...,...,...
1445,0000449279,00447702,1,00006,00006,2024-01-26 10:23:59,,,SEQ-NG,DNA,,WGS
1446,0000449284,00447707,1,00006,00006,2024-01-26 10:23:59,,,SEQ-NG,DNA,,WGS
1447,0000449293,00447716,1,00006,00006,2024-01-26 10:23:59,,,SEQ-NG,DNA,,WGS
1448,0000449295,00447718,1,00006,00006,2024-01-26 10:23:59,,,SEQ-NG,DNA,,WGS
1449,0000449297,00447720,1,00006,00006,2024-01-26 10:23:59,,,SEQ-NG,DNA,,WGS

Screenings_To_Genes

     screeningid  geneid
0     0000000126  IL36RN
1     0000000211    MKS1
2     0000001640   DHCR7
3     0000033164    AHI1
4     0000033164     EYS
...          ...     ...
1311  0000437646     EYS
1312  0000437902     EYS
1313  0000437922     EYS
1314  0000443144     EYS
1315  0000443145     EYS

[1316 rows x 2 columns]

Variants_On_Genome

,id,allele,effectid,chromosome,position_g_start,position_g_end,type,average_frequency,owned_by,VariantOnGenome/DBID,...,VariantOnGenome/Genetic_origin,VariantOnGenome/Segregation,VariantOnGenome/dbSNP,VariantOnGenome/VIP,VariantOnGenome/Methylation,VariantOnGenome/ISCN,VariantOnGenome/DNA/hg38,VariantOnGenome/ClinVar,VariantOnGenome/ClinicalClassification,VariantOnGenome/ClinicalClassification/Method
0,0000036426,3,50,6,64498971,64498971,subst,0.000742922,00552,EYS_000007,...,Germline,,,0,,,g.63789078A>G,,VUS,
1,0000059881,3,55,6,65655758,65655758,subst,0.00115297,00229,EYS_000001,...,Germline,yes,,0,,,g.64945865T>G,,VUS,
2,0000059883,1,11,6,65336143,65336143,subst,0.224189,00229,EYS_000002,...,Germline,no,,0,,,g.64626250G>A,,benign,
3,0000059884,1,15,6,65300869,65300869,subst,0.000837928,00229,EYS_000003,...,Germline,,,0,,,g.64590976G>A,,benign,
4,0000059885,1,11,6,65016998,65016999,del,0,00229,EYS_000004,...,Germline,yes,,0,,,g.64307105_64307106del,,benign,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2536,0000964211,0,30,6,65767634,65767634,subst,0.243022,02330,EYS_000248,...,CLASSIFICATION record,,,,,,,,likely benign,
2537,0000964212,0,30,6,65767643,65767643,del,0,02330,EYS_000926,...,CLASSIFICATION record,,,,,,,,likely benign,
2538,0000964215,0,50,6,66005927,66005927,subst,0.000112112,02327,EYS_000253,...,CLASSIFICATION record,,,,,,,,VUS,
2539,0000964216,0,50,6,66044874,66044874,subst,0.0000818974,02327,EYS_000256,...,CLASSIFICATION record,,,,,,,,VUS,
2540,0000977314,0,90,6,64430943,64430943,subst,0.00000659822,01804,EYS_000060,...,CLASSIFICATION record,,,,,,,,pathogenic,

Variants_On_Transcripts

,id,transcriptid,effectid,position_c_start,position_c_start_intron,position_c_end,position_c_end_intron,VariantOnTranscript/DNA,VariantOnTranscript/RNA,VariantOnTranscript/Protein,VariantOnTranscript/Exon
0,0000036426,00007329,50,7558,0,7558,0,c.7558T>C,r.(?),p.(Phe2520Leu),38
1,0000059881,00007329,55,2309,0,2309,0,c.2309A>C,r.(?),p.(Gln770Pro),15
2,0000059883,00007329,11,3444,-5,3444,-5,c.3444-5C>T,r.(?),p.(=),22i
3,0000059884,00007329,15,4891,0,4891,0,c.4891C>T,r.(?),p.(Pro1631Ser),26
4,0000059885,00007329,11,6079,-4,6079,-3,c.6079-4_6079-3del,r.(?),p.(=),29i
...,...,...,...,...,...,...,...,...,...,...,...
2536,0000964211,00007329,30,2024,-14,2024,-14,c.2024-14C>T,r.(=),p.(=),
2537,0000964212,00007329,30,2024,-15,2024,-15,c.2024-15del,r.(=),p.(=),
2538,0000964215,00007329,50,1852,0,1852,0,c.1852G>A,r.(?),p.(Gly618Ser),
2539,0000964216,00007329,50,1765,0,1765,0,c.1765A>G,r.(?),p.(Arg589Gly),
2540,0000977314,00007329,90,8984,0,8984,0,c.8984T>A,r.(?),p.(Ile2995Asn),

Screenings_To_Variants

     screeningid   variantid
0     0000000126  0000783293
1     0000000211  0000790459
2     0000001640  0000235838
3     0000016557  0000036426
4     0000033164  0000059884
...          ...         ...
2144  0000449279  0000959046
2145  0000449284  0000959051
2146  0000449293  0000959060
2147  0000449295  0000959474
2148  0000449297  0000959064

[2149 rows x 2 columns]

In [17]:
set_lovd_dtypes(data)
for i in data:
    print(i)
    display(data[i].info())

Genes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 34 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1 non-null      string
 1   name             1 non-null      string
 2   chromosome       1 non-null      Int64
 3   chrom_band       1 non-null      string
 4   imprinting       1 non-null      string
 5   refseq_genomic   1 non-null      string
 6   refseq_UD        1 non-null      string
 7   reference        1 non-null      string
 8   url_homepage     1 non-null      string
 9   url_external     1 non-null      string
 10  allow_download   1 non-null      bool
 11  id_hgnc          1 non-null      Int64
 12  id_entrez        1 non-null      Int64
 13  id_omim          1 non-null      Int64
 14  show_hgmd        1 non-null      bool
 15  show_genecards   1 non-null      bool
 16  show_genetests   1 non-null      bool
 17  show_orphanet    1 non-null      bool
 18  note_index       1 non-null      string
 19  note_listing     1 non-null      string
 20  refseq           1 non-null      string
 21  refseq_url       1 non-null      string
 22  disclaimer       1 non-null      bool
 23  disclaimer_text  1 non-null      string
 24  header           1 non-null      string
 25  header_align     1 non-null      Int64
 26  footer           1 non-null      string
 27  footer_align     1 non-null      Int64
 28  created_by       1 non-null      Int64
 29  created_date     1 non-null      datetime64[ns]
 30  edited_by        1 non-null      Int64
 31  edited_date      1 non-null      datetime64[ns]
 32  updated_by       1 non-null      Int64
 33  updated_date     1 non-null      datetime64[ns]
dtypes: Int64(9), bool(6), datetime64[ns](3), string(16)
memory usage: 371.0 bytes

None

Transcripts
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1 non-null      Int64
 1   geneid                 1 non-null      string
 2   name                   1 non-null      string
 3   id_mutalyzer           1 non-null      Int64
 4   id_ncbi                1 non-null      string
 5   id_ensembl             1 non-null      string
 6   id_protein_ncbi        1 non-null      string
 7   id_protein_ensembl     1 non-null      string
 8   id_protein_uniprot     1 non-null      string
 9   remarks                1 non-null      string
 10  position_c_mrna_start  1 non-null      Int64
 11  position_c_mrna_end    1 non-null      Int64
 12  position_c_cds_end     1 non-null      Int64
 13  position_g_mrna_start  1 non-null      Int64
 14  position_g_mrna_end    1 non-null      Int64
 15  created_by             0 non-null      Int64
 16  created_date           0 non-null      datetime64[ns]
 17  edited_by              0 non-null      Int64
 18  edited_date            0 non-null      datetime64[ns]
dtypes: Int64(9), datetime64[ns](2), string(8)
memory usage: 293.0 bytes

None

Diseases
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            15 non-null     Int64
 1   symbol        15 non-null     string
 2   name          15 non-null     string
 3   inheritance   15 non-null     string
 4   id_omim       4 non-null      Int64
 5   tissues       15 non-null     string
 6   features      15 non-null     string
 7   remarks       15 non-null     string
 8   created_by    15 non-null     Int64
 9   created_date  15 non-null     datetime64[ns]
 10  edited_by     11 non-null     Int64
 11  edited_date   11 non-null     datetime64[ns]
dtypes: Int64(4), datetime64[ns](2), string(6)
memory usage: 1.6 KB

None

Genes_To_Diseases
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   geneid     2 non-null      string
 1   diseaseid  2 non-null      Int64
dtypes: Int64(1), string(1)
memory usage: 166.0 bytes

None

Individuals
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            1450 non-null   Int64
 1   fatherid                      1450 non-null   string
 2   motherid                      1450 non-null   string
 3   panelid                       6 non-null      Int64
 4   panel_size                    1450 non-null   Int64
 5   license                       1450 non-null   string
 6   owned_by                      1450 non-null   Int64
 7   Individual/Reference          1450 non-null   string
 8   Individual/Remarks            1450 non-null   string
 9   Individual/Gender             1450 non-null   string
 10  Individual/Consanguinity      1450 non-null   string
 11  Individual/Origin/Geographic  1450 non-null   string
 12  Individual/Age_of_death       1450 non-null   string
 13  Individual/VIP                1450 non-null   string
 14  Individual/Data_av            1450 non-null   string
 15  Individual/Treatment          1450 non-null   string
 16  Individual/Origin/Population  1450 non-null   string
 17  Individual/Individual_ID      1450 non-null   string
dtypes: Int64(4), string(14)
memory usage: 209.7 KB

None

Individuals_To_Diseases
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   individualid  1449 non-null   Int64
 1   diseaseid     1449 non-null   Int64
dtypes: Int64(2)
memory usage: 25.6 KB

None

Phenotypes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1271 entries, 0 to 1270
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            1271 non-null   Int64
 1   diseaseid                     1271 non-null   Int64
 2   individualid                  1271 non-null   Int64
 3   owned_by                      1271 non-null   Int64
 4   Phenotype/Inheritance         1271 non-null   string
 5   Phenotype/Age                 1271 non-null   string
 6   Phenotype/Additional          1271 non-null   string
 7   Phenotype/Biochem_param       1271 non-null   string
 8   Phenotype/Age/Onset           1271 non-null   string
 9   Phenotype/Age/Diagnosis       1271 non-null   string
 10  Phenotype/Severity_score      1271 non-null   string
 11  Phenotype/Onset               1271 non-null   string
 12  Phenotype/Protein             1271 non-null   string
 13  Phenotype/Tumor/MSI           1271 non-null   string
 14  Phenotype/Enzyme/CPK          1271 non-null   string
 15  Phenotype/Heart/Myocardium    1271 non-null   string
 16  Phenotype/Lung                1271 non-null   string
 17  Phenotype/Diagnosis/Definite  1271 non-null   string
 18  Phenotype/Diagnosis/Initial   1271 non-null   string
 19  Phenotype/Diagnosis/Criteria  1271 non-null   string
dtypes: Int64(4), string(16)
memory usage: 203.7 KB

None

Screenings
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1450 non-null   Int64
 1   individualid         1450 non-null   Int64
 2   variants_found       1450 non-null   Int64
 3   owned_by             1450 non-null   Int64
 4   created_by           1450 non-null   Int64
 5   created_date         1450 non-null   datetime64[ns]
 6   edited_by            15 non-null     Int64
 7   edited_date          15 non-null     datetime64[ns]
 8   Screening/Technique  1450 non-null   string
 9   Screening/Template   1450 non-null   string
 10  Screening/Tissue     1450 non-null   string
 11  Screening/Remarks    1450 non-null   string
dtypes: Int64(6), datetime64[ns](2), string(4)
memory usage: 144.6 KB

None

Screenings_To_Genes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316 entries, 0 to 1315
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   screeningid  1316 non-null   Int64
 1   geneid       1316 non-null   string
dtypes: Int64(1), string(1)
memory usage: 22.0 KB

None

Variants_On_Genome
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2541 entries, 0 to 2540
Data columns (total 26 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   id                                             2541 non-null   Int64
 1   allele                                         2541 non-null   Int64
 2   effectid                                       2541 non-null   Int64
 3   chromosome                                     2541 non-null   Int64
 4   position_g_start                               2540 non-null   Int64
 5   position_g_end                                 2540 non-null   Int64
 6   type                                           2541 non-null   string
 7   average_frequency                              2540 non-null   float64
 8   owned_by                                       2541 non-null   Int64
 9   VariantOnGenome/DBID                           2541 non-null   string
 10  VariantOnGenome/DNA                            2541 non-null   string
 11  VariantOnGenome/Frequency                      2541 non-null   string
 12  VariantOnGenome/Reference                      2541 non-null   string
 13  VariantOnGenome/Restriction_site               2541 non-null   string
 14  VariantOnGenome/Published_as                   2541 non-null   string
 15  VariantOnGenome/Remarks                        2541 non-null   string
 16  VariantOnGenome/Genetic_origin                 2541 non-null   string
 17  VariantOnGenome/Segregation                    2541 non-null   string
 18  VariantOnGenome/dbSNP                          2541 non-null   string
 19  VariantOnGenome/VIP                            2541 non-null   string
 20  VariantOnGenome/Methylation                    2541 non-null   string
 21  VariantOnGenome/ISCN                           2541 non-null   string
 22  VariantOnGenome/DNA/hg38                       2541 non-null   string
 23  VariantOnGenome/ClinVar                        2541 non-null   string
 24  VariantOnGenome/ClinicalClassification         2541 non-null   string
 25  VariantOnGenome/ClinicalClassification/Method  2541 non-null   string
dtypes: Int64(7), float64(1), string(18)
memory usage: 533.6 KB

None

Variants_On_Transcripts
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2541 entries, 0 to 2540
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2541 non-null   Int64
 1   transcriptid                 2541 non-null   Int64
 2   effectid                     2541 non-null   Int64
 3   position_c_start             2540 non-null   Int64
 4   position_c_start_intron      2541 non-null   Int64
 5   position_c_end               2540 non-null   Int64
 6   position_c_end_intron        2541 non-null   Int64
 7   VariantOnTranscript/DNA      2541 non-null   string
 8   VariantOnTranscript/RNA      2541 non-null   string
 9   VariantOnTranscript/Protein  2541 non-null   string
 10  VariantOnTranscript/Exon     2541 non-null   string
dtypes: Int64(7), string(4)
memory usage: 235.9 KB

None

Screenings_To_Variants
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2149 entries, 0 to 2148
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   screeningid  2149 non-null   Int64
 1   variantid    2149 non-null   Int64
dtypes: Int64(2)
memory usage: 37.9 KB

None

In [68]:
import pandas as pd
from data_collection import CLINVAR_PATH
from data_collection import store_database_for_eys_gene
store_database_for_eys_gene("clinvar", override=False)


clinvar_data = pd.read_csv(CLINVAR_PATH + "/clinvar_data.txt", sep='\t')

File already exists

In [66]:
clinvar_data

,Name,Gene(s),Protein change,Condition(s),Accession,GRCh37Chromosome,GRCh37Location,GRCh38Chromosome,GRCh38Location,VariationID,...,Germline classification,Germline date last evaluated,Germline review status,Somatic clinical impact,Somatic clinical impact date last evaluated,Somatic clinical impact review status,Oncogenicity classification,Oncogenicity date last evaluated,Oncogenicity review status,Unnamed: 24
0,GRCh38/hg38 6p12.1-q12(chr6:53931543-68149750)x3,BAG2|BEND6|BMP5|COL21A1|DST|DST-AS1|ERVH-3|EYS...,NaN,See cases,VCV000148002,6,53796341 - 68859642,6,53931543 - 68149750,148002,...,Pathogenic,"Jan 1, 2010",no assertion criteria provided,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GRCh38/hg38 6p11.2-q12(chr6:57466921-68712228)x3,ADGRB3|ADGRB3-DT|ERVH-3|EYS|FKBP1C|KHDRBS2|LGS...,NaN,See cases,VCV000148991,6,57329882 - 69422120,6,57466921 - 68712228,148991,...,Pathogenic,"Jan 1, 2012",no assertion criteria provided,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GRCh38/hg38 6q12(chr6:63719407-64994324)x3,EYS|LOC113175011|LOC113175012|LOC123744835|LOC...,NaN,See cases,VCV000148291,6,64429303 - 65704217,6,63719407 - 64994324,148291,...,Likely benign,"Jan 1, 2011",no assertion criteria provided,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NM_001370348.2(PHF3):c.*6334T>C,EYS|PHF3,NaN,Retinitis pigmentosa,VCV000910562,6,64429938,6,63720042,910562,...,Uncertain significance,"Jan 1, 2018","criteria provided, single submitter",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NM_001370348.2(PHF3):c.*6340C>T,EYS|PHF3,NaN,Retinitis pigmentosa,VCV000910563,6,64429944,6,63720048,910563,...,Uncertain significance,"Jan 1, 2018","criteria provided, single submitter",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4657,NM_001142800.1(EYS):c.(6078+1_6079-1)_(6191+1_...,EYS,NaN,Retinitis pigmentosa,VCV000636135,NaN,NaN,NaN,NaN,636135,...,Pathogenic,"Jan 1, 2018",no assertion criteria provided,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4658,NM_001142800.1(EYS):c.(2641+1_2642-1)_(2846+1_...,EYS,NaN,Retinitis pigmentosa,VCV000636134,NaN,NaN,NaN,NaN,636134,...,Likely pathogenic,"Jan 1, 2018",no assertion criteria provided,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4659,NM_001142800.1:c.(2137+1_2138-1)_(2259+1_2260-...,EYS,NaN,Retinitis pigmentosa,VCV000636133,NaN,NaN,NaN,NaN,636133,...,Likely pathogenic,"Jan 1, 2018",no assertion criteria provided,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4660,NM_001142800.1:c.(2023+1_2024-1)_(3443+1_3444-...,EYS,NaN,Retinal dystrophy,VCV000636132,NaN,NaN,NaN,NaN,636132,...,Pathogenic,"Jan 1, 2018",no assertion criteria provided,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4661,NM_001142800.1(EYS):c.(2259+1_2260-1)_(2381+1_...,EYS,NaN,Retinal dystrophy,VCV000375230,NaN,NaN,NaN,NaN,375230,...,Likely pathogenic,NaN,no assertion criteria provided,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
#region_EYS_extraction
import pandas as pd
import re
from data_collection import store_database_for_eys_gene
#store_database_for_eys_gene("clinvar", override=False)
filtered_data = []
ends = {'del', 'delins', 'dup', 'ins', 'inv', 'subst'}
clinvar_data = pd.read_csv(CLINVAR_PATH + "/clinvar_data.txt", sep='\t')
for item in clinvar_data["Name"]:
    if "(EYS)" in item:
        match = re.match(r'^.*\(EYS\):(c\.[A-Za-z0-9_]+>[A-Za-z])(?:\s*\(.*\))?', item)
        if match and not any(end in match.group(1) for end in ends):
            filtered_data.append(match.group(1))
#region_EYS_extraction_end


data = parse_lovd(LOVD_PATH + "/lovd_data.txt")

gene_ids = []

for key, value in data["Variants_On_Transcripts"]["VariantOnTranscript/DNA"].items():
    if value in filtered_data:
        gene_id = key
        if gene_id:
            gene_ids.append(key)

final_dna = []
for key, value in data["Variants_On_Genome"]["VariantOnGenome/DNA/hg38"].items():
    if key in gene_ids:
        gene = value
        if gene:
            final_dna.append(gene)
            
print(final_dna)

KeyboardInterrupt:

Section below is a **complete copy** of (which is also above):
```python
#region_EYS_extraction
import pandas as pd
from data_collection import store_database_for_eys_gene
#store_database_for_eys_gene("clinvar", override=False)
filtered_data = []
ends = {'del', 'delins', 'dup', 'ins', 'inv', 'subst'}
clinvar_data = pd.read_csv(CLINVAR_PATH + "/clinvar_data.txt", sep='\t')
for item in clinvar_data["Name"]:
    if "(EYS)" in item:
        match = re.match(r'^.*\(EYS\):(c\.[A-Za-z0-9_]+>[A-Za-z])(?:\s*\(.*\))?', item)
        if match and not any(end in match.group(1) for end in ends):
            filtered_data.append(match.group(1))
#region_EYS_extraction_end

data = parse_lovd(LOVD_PATH + "/lovd_data.txt")

gene_ids = []

for key, value in data["Variants_On_Transcripts"]["VariantOnTranscript/DNA"].items():
    if value in filtered_data:
        gene_id = key
        if gene_id:
            gene_ids.append(key)

final_dna = []
for key, value in data["Variants_On_Genome"]["VariantOnGenome/DNA/hg38"].items():
    if key in gene_ids:
        gene = value
        if gene:
            final_dna.append(gene)
            
print(final_dna)
```
although it doesn't work as intended.

In [64]:
import pandas as pd
from data_collection.refactoring import (
                             filter_eys_genes)


#tore_database_for_eys_gene("lovd", override=False)
#store_database_for_eys_gene("clinvar", override=False)

lovd_data = parse_lovd(LOVD_PATH + "/lovd_data.txt")
clinvar_data = pd.read_csv(CLINVAR_PATH + "/clinvar_data.txt", sep='\t')

filtered_data = filter_eys_genes(clinvar_data)

["Simplified_Gene"]

KeyboardInterrupt: